h1{

    color: rgb(248, 27, 27);
    background-color: aquamarine;
    border-style: solid;
    border-color: black;
    border-radius: 22px;
    text-align: center;
    text-shadow:
    1px 1px 2px black,
    0 0 1em blue,
    0 0 0.2em blue;
}