.divSquare{
    width: 48%;
    height: 300px;
    margin: 4px;
    border: 1px solid black;
    float: left;
}

h1{
    text-align: left;
}

h3{
        text-align: center;
}
#b1{
    background-color: rgb(180, 240, 220);
    text-align: center;
    color: rgb(68, 32, 9);
    font-weight: bold;
}

#in1{
    background-color: aquamarine;
    text-align: center;
}


