body{
    display: flex;
    justify-content: center;
}
#Contenedor{
    border: 1px solid black;
    max-width: fit-content;
    min-height: 100px;
    padding: 20px;
    background-color: rgb(46, 144, 193);
    border-radius: 10px;
}
.borrar{
    display: flex;
    justify-content: end;
}
.visor{
    width: 80%;
}
input{
    background-color: rgb(255, 255, 255);
    text-align: end;
    font-size: 18px;
}
#historico, #pantalla{
    width: 100%;
}
.boton{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 5px;
    background-color: rgb(192, 192, 192);
}